<html>
<head>


</head>
<body>
<p><img src="images/saaspose.jpg" width="369" height="80" /></p>
<h2>The easiest way to Create, Convert &amp;  Automate Documents in the cloud. </h2>
<br>
<h2><a href="/folders">Get my folders and files</a></h2>
 <strong>Convert Word file to Other formats Using SDK</strong> <br />
 <br />
 <br>
 <form action="/createFolder" method="post" name = "Form1">

   <p><strong>Please Enter Folder name.</strong><br />
     <br />
   <p>Folder Name  :
     <input type="text" name="folder_name" id="folder_name"  />
   </p>
 
 <br>
 <br />
 <input type="submit" name="submit" value="Submit" />
 <BR>
      </p>
 </form>
 </body>
 </html>