<html>
<head>


</head>
<body>
<p><img src="images/saaspose.jpg" width="369" height="80" /></p>
<h2>The easiest way to Create, Convert &amp;  Automate Documents in the cloud. </h2>
<br>
<h2><a href="/folders">Get my folders and files</a></h2>
 <br>
 <form action="/fileExist" method="post" name = "Form1">

   <p><strong>Please Enter File or folder name to check its existance.</strong><br />
     <br />
   <p>File Name  :
     <input type="text" name="file_name" id="file_name"  />
   </p>
 
 <br>
 <br />
 <input type="submit" name="submit" value="Submit" />
 <BR>
      </p>
 </form>
 </body>
 </html>