<html>
<head>

<script type="text/javascript">
var fullName = null
function getStats(fName){
	
	oFormObject = document.forms['Form1'];
	oFormObject.elements["hiddenfilename"].value = fname;

}

</script>

</head>
<body>
<p><img src="images/saaspose.jpg" width="369" height="80" /></p>
<h2>The easiest way to Create, Convert &amp;  Automate Documents in the cloud. </h2>
<br>
<h2><a href="/folders">Get my folders and files</a></h2>
<h2><a href="/createFolder">Create Folder</a></h2>
<h2><a href="/uploadFile">Upload File</a></h2>
<h2><a href="/fileExist">Check file existance</a></h2>
<h2><a href="/discSpace">Get Application disc space</a></h2>
 
 <br />
 <br>
 
 </body>
 </html>